@page "/about"

<div class="container">
    <h1 class="display-4">About Project Tracker</h1>
    <p>Welcome to Project Tracker, a small demonstration application built with .NET 8 ASP.NET Core Blazor WebAssembly and Web API, secured using ASP.NET Core Identity and JWT Authentication.</p>
    <p>Also here we have some use made of the Radzen opensource component suite.</p>
</div>




@code {

}
