@page "/login"
@inject IAuthService AuthService



<h1 class="display-4">Login</h1>

<EditForm Model="loginRequest" OnValidSubmit="HandleSubmit">

    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
        <RadzenFormField Name="UserName" Text="UserName" Style="width: 100%;">
            <RadzenTextBox @bind-Value="loginRequest.UserName" Style="width: 100%;" />
        </RadzenFormField>
        <ValidationMessage For="() => loginRequest.UserName" />
    </RadzenColumn>

    <RadzenColumn Size="12" SizeMD="6" SizeLG="3">
        <RadzenFormField Name="Password" Text="Password" Style="width: 100%;">
            <RadzenTextBox @bind-Value="loginRequest.Password" Style="width: 100%;" />
        </RadzenFormField>
        <ValidationMessage For="() => loginRequest.Password" />
    </RadzenColumn>
    <br />
    <RadzenButton Text="Login" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" />

</EditForm>



@code {

    string value = "";

    LoginRequest loginRequest = new LoginRequest();

    async Task HandleSubmit()
    {
        await AuthService.Login(loginRequest);
    }
}